nav a{
    color: sienna;
}

h1{
    text-decoration: underline;
}

body{
    background-image: url("img/css.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: top ;
}
